-
    var badgeApi = "https://img.shields.io/badge/$LABEL-$NAME-$COLOR?style=flat&logo=$LOGO";

    var getBadgeUrl = (info) => {
        info.color = info.color.replace("#", "");
        return badgeApi
            .replaceAll("$LABEL", info.label ? info.label : "")
            .replaceAll("$NAME", info.name ? info.name : "")
            .replaceAll("$COLOR", info.color ? info.color : "")
            .replaceAll("$LOGO", info.logo ? info.logo : "")
            .replaceAll(" ", "%20");
    };

    const getBadgeHtml = (item) => {
        const url = getBadgeUrl(item);
        return /*html*/`
            <a href="${item.link}">
                <img src="${url}" alt="${item.alt}">
            </a>
        `
            .replaceAll("\n", "")
            .replaceAll("    ", "");
    }

    const getBadgeMd = (item) => {
        const url = getBadgeUrl(item);
        return `[![${item.alt}](${url})](${item.link})`;
    }

    const getBadgesHtml = (items) => items.reduce(
        (obj, item) => obj += getBadgeHtml(item) + " ",
        ""
    );

    const getBadgesMd = (items) => items.reduce(
        (obj, item) => obj += getBadgeMd(item) + " ",
        ""
    );

mixin badges(session)
    .
        !{getBadgesMd(session.items)}
        !{br}
        !{br}