-
    const format = (text) => text
        .replaceAll("<strong>", "**").replaceAll("</strong>", "**")

mixin md_h(amount, content)
    - const hMarks = Array(amount).fill('#').join("");
    .
        #{hMarks} !{format(content)}


mixin md_p(content)
    .
        !{format(content)}

mixin md_bq(content)
    .
        !{br}
        > !{format(content)}
        !{br}

-
    const mdTr = (items) => items.join(" | ");
    const mdThEnd = (largerColArray) => Array(largerColArray.length - 1).fill("-|").join("") + "-";