mixin md_tableTechs(techs)
    -
        const techsBodyArray = (techs) => [ techs.common, techs.front, techs.back ].map(
            (tech) => getBadgesMd(tech)
        );

    . 
        #{mdTr([ "Level", ...techs.headers.h ])}
        #{mdThEnd([ "Level", ...techs.headers.h ])}
        !{mdTr([ techs.headers.v[0], ...techsBodyArray(techs.content.skills) ])}
        !{mdTr([ techs.headers.v[1], ...techsBodyArray(techs.content.learning) ])}
        !{mdTr([ techs.headers.v[2], ...techsBodyArray(techs.content.viewing) ])}
        !{br}
        !{br}