include lib.pug

h2!= about.title
+badges(stati)

h3!= about.name

table: tr: td
    h3!= about.heading
    br
    p!= about.paragraph
    br
    blockquote: p!= about.note

h3!= techs.name
+table(techs.items)

+badge-session(workspace)
+badge-session(contacts)