include lib-html.pug

h2!= about.title
+html_badges(stati)

h3!= about.name

table: tr: td
    h3!= about.heading
    br
    p!= about.paragraph
    br
    blockquote: p!= about.note

h3!= techs.name
+html_tableTechs(techs)

+html_badgeSession(workspace)
+html_badgeSession(contacts)