include packages/lib-badge.pug

mixin md_badges(session)
    .
        !{getBadgesMd(session.items)}

mixin md_badgeSession(session, type=3)
    +md_h(type, session.name)
    +md_badges(session)

-
    const techsBodyArray = (techs) => [ techs.common, techs.front, techs.back ].map(
        (tech) => getBadgesMd(tech)
    );

mixin md_tableTechs(techs)
    . 
        #{mdTr([ "Level", ...techs.headers.h ])}
        #{mdThEnd([ "Level", ...techs.headers.h ])}
        !{mdTr([ techs.headers.v[0], ...techsBodyArray(techs.content.skills) ])}
        !{mdTr([ techs.headers.v[1], ...techsBodyArray(techs.content.learning) ])}
        !{mdTr([ techs.headers.v[2], ...techsBodyArray(techs.content.viewing) ])}
        !{br}