include packages/lib-badge.pug

mixin badge(item)
    - var url = getBadgeUrl(item);
    a(href=item.link): img(src=url alt=item.alt)
    | 

mixin badges(session)
    - var sessionItems = session.items;
    each sessionItem in sessionItems
        +badge(sessionItem)

mixin badgeSession(session, type="h3")
    #{type}= session.name
    +badges(session)

mixin rowHeadersH(items)
    tr
        td
        each item in items.h
            td= item

mixin row(title, techs)
    tr
        td!= title
        td: +tr(techs.common)
        td: +tr(techs.front)
        td: +tr(techs.back)

mixin tr(items)
    each item in items
        +badge(item)

mixin table(techs)
    table
        +rowHeadersH(techs.headers)
        +row(techs.headers.v[0], techs.content.skills)
        +row(techs.headers.v[1], techs.content.learning)
        +row(techs.headers.v[2], techs.content.viewing)